* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

@font-face {
    font-family: "Gothic";
    src: url(/font/Gothic_Ingame_Offiziell.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: whitesmoke;
    font-size: 2.2rem;
    background-image: url("assets/img/background.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Menu main options */
.stats {
    padding: 4rem 0.5rem 0.2rem 4rem;
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    align-items: start;
}

.statsLabel {
    border: solid 1px goldenrod;
    width: 40rem;
    position: relative;
    padding: 2rem;
    margin: 3rem 1.5rem;
    background-color: rgba(0,0,0,0.7);
}

.statsLabel > div {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

.statsLabel h2 {
    position: absolute;
    top: -3rem;
    display: flex;
    justify-self: center;
    background-color: black;
    padding: 0rem 8rem;
    border: solid 1px goldenrod;
}

/* Small corections */
#Skills > div:nth-child(3),
#Skills > div:nth-child(4),
#Skills > div:nth-child(5) {
    margin-top: 2rem;
}

#Character,
#Attributes,
#Protection {
    grid-column: 1;
}

#Skills {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.Uppgrading, .equipment, .results{
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Uppgrading div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

/* Buttons style */
.AddButton {
    background-color: transparent;
    color: white;
    font-size: 1.7rem;
    padding: 0.4rem;
    border: none;
    transition: background-color 0.4s, color 0.2s, transform 0.2s;
}

.AddButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
}

.hidden {
    display: none !important;
}