* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    background-color: black;
    color: whitesmoke;
    font-size: 2.2rem;
}

.stats {
    padding: 4rem 0.5rem 0.2rem 4rem;
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    align-items: start;
}

.statsLabel {
    border: solid 1px goldenrod;
    width: 40rem;
    position: relative;
    padding: 2rem;
    margin: 3rem 1.5rem;
}

.statsLabel div {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

.statsLabel h2 {
    position: absolute;
    top: -3rem;
    display: flex;
    justify-self: center;
    background-color: black;
    padding: 0rem 8rem;
    border: solid 1px goldenrod;
}

#Skills > div:nth-child(3),
#Skills > div:nth-child(4),
#Skills > div:nth-child(5) {
    margin-top: 2rem;
}

#Character,
#Attributes,
#Protection {
    grid-column: 1;
}

#Skills {
    grid-column: 2;
    grid-row: 1 / span 3;
}